streamlit==1.36.0
pandas==2.2.2
numpy==1.26.4
Pillow==10.3.0
scikit-learn==1.5.0
joblib==1.4.2
python-bidi==0.4.2
scipy==1.13.1
opencv-python-headless==4.9.0.80
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.2+cpu
easyocr==1.7.1
